/* form generic */
form .box {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: -moz-linear-gradient(center top, #D5E8F4, #5DA5D4);
	background: -webkit-gradient(linear, center top, center bottom, from(#D5E8F4),
		to(#5DA5D4) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5E8F4',
		endColorstr='#5DA5D4' );
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	border: 1px solid #142652;
	border-radius: 25px 25px 25px 25px;
	float: left;
	opacity: 0.8;
	padding: 5px;
	margin-left: 120px;
	color: #00217E;
	width: 750px;
}

form .box .title {
	padding-left: 50px;
	margin: -10px -5px 0 -5px;
	border-bottom: 1px solid #142652;
	height: 40px;
}

form .box .inner {
	padding: 20px 0 0 50px;
}

form .inner li {
	list-style: none;
	padding-top: 12px;
}

form .box .inner label {
	font-weight: bold;
	font-size: 1.13333em;
    line-height: 1.4167;
    margin-bottom: 1em;
}

form .box input[type="text"],form .box input[type="password"],form .box select {
	border: 1px solid #142652;
	width: 200px;
	height: 22px;
}

form .box input[type="file"] {
	/* border: 1px solid #142652; */
	width: 220px;
	height: 22px;
}

form .buttons {
	padding: 20px 0 0 100px;
}

form .buttons .button_item {
	float: right;
	padding: 5px 55px 5px 0;
}

form .box .button {
	background-color: #00217E;
	border: 1px solid #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	height: 30px;
	width: 120px;
	font-size: 17px;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-align: center;
}

form .error_list {
	color: red;
	font-size: 11px;
	font-weight: bold;
	font-family: san-serif, helvetica, verdana, arial;
	list-style: none;
	display: inline;
	padding: 0;
	margin-bottom: 0;
}

form .row {
	margin-top: 20px;
}

form .column {
	width: 47%;
	float: left;
}

form .field .control {
	float: left;
}

form .field .error_list {
	float: left;
	padding-left: 0;
}

form .terms {
	font-size: 11px;
	float: left;
}

form .terms a {
	border-bottom: 1px dotted;
}

form .auto-hint {
	color: #AAAAAA;
}

div.ui-datepicker {
	font-size: 12px;
}
