html,body {
	height: 100%;
}

body {
	background: url("../images/bg-body.png") repeat-x scroll center top
		transparent;
	font-family: san-serif, helvetica, verdana, arial;
}

h1 {
	color: #00217E;
	letter-spacing: 3px;
}

div#Wrapper {
	width: 1020px;
	text-align: left;
	margin: 0 auto;
	padding: 0 20px;
	text-align: left;
	position: relative;
}

#Header {
	background: url("../images/bg-header.png") no-repeat scroll center top
		transparent;
	height: 228px;
	padding-top: 68px;
}

#HeaderBand {
	visibility: hidden;
	height: 47px;
	position: absolute;
	/* z-index: -1; */
	left: 0;
	right: 0;
	width: 100%;
	margin: 124px 0 0;
}

#PageContent {
	width: 998px;
	margin: 8px 0 10px 0;
}

#PageContent .img_404 {
	background: url("../images/404.png") no-repeat scroll right bottom
		transparent;
	font-family: san-serif, helvetica, verdana, arial;
	margin: -70px 0 40px -60px;
}

#PageContent .term_404 {
	position: relative;
	top: 260px;
	padding-left: 60px;
	width: 320px;
	font-weight: bold;
	font-size: 20px;
	color: #00217E;
}

#PageContent .img_500 {
	background: url("../images/500.png") no-repeat scroll right bottom
		transparent;
	font-family: san-serif, helvetica, verdana, arial;
	margin: -70px 0 40px -60px;
}

#Footer {
	background: url("../images/bg-footer.png") repeat-x scroll center bottom
		transparent;
	display: block;
	font-family: "sans-serif";
	font-size: 60%;
	color: #77766F;
	text-align: center !important;
	height: 25px;
	margin: 5px 0 0 -6px;
	padding: 5px 0 0;
	width: 100%;
	bottom: -1px;
	position: fixed;
	font-size: 60%;
}

.clear {
	clear: both !important;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

.tl {
	text-align: left !important;
}

.tr {
	text-align: right !important;
}

.tc {
	text-align: center !important;
}

.nopadding {
	padding: 0 !important;
}

.pad15 {
	padding: 15px !important;
}

.pad10 {
	padding: 10px !important;
}

.pad5 {
	padding: 5px !important;
}

.pad2 {
	padding: 2px !important;
}

.pad1 {
	padding: 1px !important;
}

.nomargin {
	margin: 0 !important;
}

.half {
	width: 49.5% !important;
}

.third {
	width: 33.3% !important;
}

.full {
	width: 100% !important;
}

.hidden {
	display: none;
}

.nobgimage,.nobg {
	background-image: none !important;
}

.abig {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 14px;
	font-weight: 800;
}

.abig40 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 40px;
	font-weight: 800;
}

.abig38 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 38px;
	font-weight: 800;
}

.abig36 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 36px;
	font-weight: 800;
}

.abig34 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 34px;
	font-weight: 800;
}

.abig32 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 32px;
	font-weight: 800;
}

.abig30 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 30px;
	font-weight: 800;
}

.abig28 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 28px;
	font-weight: 800;
}

.abig26 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 26px;
	font-weight: 800;
}

.abig24 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 24px;
	font-weight: 800;
}

.abig22 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 22px;
	font-weight: 800;
}

.abig20 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 20px;
	font-weight: normal;
}

a .abig20 {
	color: #00217E;
}

.abig18 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 18px;
	font-weight: normal;
}

.abig16 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 16px;
	font-weight: normal;
}

.abig14 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 14px;
	font-weight: normal;
}

.abig12 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 12px;
	font-weight: normal;
}

.abig10 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 10px;
	font-weight: normal;
}

.abig8 {
	color: #00217E;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',
		"Arial Black", "sans-serif";
	font-size: 8px;
	font-weight: normal;
}

a:link {
	color: #00217E;
	text-decoration: none;
}

a:visited {
	color: #00217E;
	text-decoration: none;
}

a:hover {
	color: #B8704D;
	cursor: pointer;
	text-decoration: none;
}

a:active {
	color: #0099FF;
}

#FlashMessages {
	width: 820px;
	padding: 0 0 0 60px;
}

.flash_success {
	margin: 3px 0;
	padding: 5px 0 2px 36px;
	background-color: #F0FFF0;
	font-size: 10px;
	font-weight: bold;
	color: green;
	border: 2px solid #00FF00;
	background-image: url("../images/s_success.png");
	background-position: 10px 50%;
	background-repeat: no-repeat;
}

.flash_notice {
	margin: 3px 0;
	padding: 5px 0 2px 36px;
	background-color: #FFFFDD;
	font-size: 10px;
	font-weight: bold;
	color: orange;
	border: 2px solid #FFD700;
	background-image: url("../images/s_notice.png");
	background-position: 10px 50%;
	background-repeat: no-repeat;
}

.flash_error {
	margin: 3px 0;
	padding: 5px 0 2px 36px;
	background-color: #FFFFCC;
	color: red;
	font-size: 10px;
	font-weight: bold;
	border: 2px solid #FF0000;
	background-image: url("../images/s_error.png");
	background-position: 10px 50%;
	background-repeat: no-repeat;
}

.grey_background {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: 0.9;
	z-index: 1001;
}