html,body {
	height: 100%;
}

body {
	background: url("../images/bg-body.png") repeat-x scroll center top
		transparent;
	font-family: Trocchi;
}

h1 {
    color: #00217E;
    letter-spacing: 2px;
    font-size: 2.6667em;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0.75em;
}

div#Wrapper {
	width: 1020px;
	text-align: left;
	margin: 0 auto;
	padding: 0 20px;
	text-align: left;
	position: relative;
}

#Header {
	background: url("../images/bg-header.png") no-repeat scroll center top
		transparent;
	height: 180px;
	padding-top: 68px;
}

#PageContent {
	width: 998px;
	margin: 8px 0 10px 0;
}

#PageContent .img_404 {
	background: url("../images/404.png") no-repeat scroll right bottom
		transparent;
	font-family: san-serif, helvetica, verdana, arial;
	margin-top: -70px;
	padding-left: 160px;
}

#PageContent .term_404 {
	font-weight: bold;
	font-size: 20px;
	color: #00217E;
}

#PageContent .img_500 {
	background: url("../images/500.png") no-repeat scroll right bottom
		transparent;
	font-family: san-serif, helvetica, verdana, arial;
	margin-top: -70px;
}

#PageContent .recipe {
    color: #00217e;
    float: left;
    margin: 20px 0 0 150px;
}

#PageContent .recipe_name {
    font-family: Trocchi;
    font-size: 1.6667em;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0.75em;
    text-decoration: underline;
}

#PageContent .ingredients_list h4 {
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0.75em;
}

#PageContent .ingredients_list p {
    font-size: 1.33333em;
    line-height: 1.4167;
    margin-bottom: 1em;
}

#Footer {
	background: url("../images/bg-footer.png") repeat-x scroll center bottom
		transparent;
	display: block;
	font-family: "sans-serif";
	font-size: 60%;
	color: #77766F;
	text-align: center !important;
	height: 25px;
	margin: 5px 0 0 -6px;
	padding: 5px 0 0;
	width: 100%;
	bottom: -1px;
	position: fixed;
	font-size: 60%;
}

.clear {
	clear: both !important;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

.tl {
	text-align: left !important;
}

.tr {
	text-align: right !important;
}

.tc {
	text-align: center !important;
}

.nopadding {
	padding: 0 !important;
}

.pad15 {
	padding: 15px !important;
}

.pad10 {
	padding: 10px !important;
}

.pad5 {
	padding: 5px !important;
}

.pad2 {
	padding: 2px !important;
}

.pad1 {
	padding: 1px !important;
}

.nomargin {
	margin: 0 !important;
}

.half {
	width: 49.5% !important;
}

.third {
	width: 33.3% !important;
}

.full {
	width: 100% !important;
}

.hidden {
	display: none;
}

.nobgimage,.nobg {
	background-image: none !important;
}

#FlashMessages {
	width: 700px;
	margin-left: 150px;
}

.flash {
	margin: 3px 0;
	padding: 5px 0 2px 36px;
	font-size: 13px;
	font-weight: bold;
	font-family: san-serif, helvetica, verdana, arial;
	background-position: 10px 50%;
	background-repeat: no-repeat;
}

.flash_success {
	background-color: #F0FFF0;
	color: green;
	border: 2px solid #00FF00;
	background-image: url("../images/s_success.png");
}

.flash_notice {
	background-color: #FFFFDD;
	color: orange;
	border: 2px solid #FFD700;
	background-image: url("../images/s_notice.png");
}

.flash_error {
	background-color: #FFFFCC;
	color: red;
	border: 2px solid #FF0000;
	background-image: url("../images/s_error.png");
}

.grey_background {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: 0.9;
	z-index: 1001;
}