.title {
	border-bottom: 1px solid #00217E;
}

.message {
	float: left;
	padding: 20px 20px 20px 0;
	font-family: san-serif, helvetica, verdana, arial;
	color: #00217E;
	font-size: 22px;
}

.searchagain {
	float: left;
	margin-top: 20px;
}

.button {
	background-color: #00217E;
	border: 1px solid #00217E;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	height: 25px;
	width: 136px;
	padding-top: 2px;
	font-family: san-serif, helvetica, verdana, arial;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	vertical-align: middle;
}

.table table {
	border-top: 1px solid #00217E;
	width: 100%;
	cellpadding: 2;
	clear: both;
}

.table img {
	border: 1px solid #00217E;
}

.table table tbody tr {
	border-bottom: 1px solid #00217E;
}

.table table tbody td {
	text-align: left;
	border-right: 1px solid #00217E;
	border-bottom: 1px solid #00217E;
	padding: 3px 0 3px 20px;
}

.table table tbody td .label {
	font: 14px san-serif, helvetica, verdana, arial;
	font-weight: bolder;
	color: #817FAA;
}

.table table tbody td .value {
	font: 18px san-serif, helvetica, verdana, arial;
	color: #00217E;
}

.table table tbody td.norightborder {
	border-right: 0px;
	padding-left: 0;
}

.table table tbody td.leftborder {
	border-left: 1px solid #00217E;
}

.table td.pagination {
	border: 0;
	text-align: center;
	font-size: 12px;
}

#Pagination {
	padding: 10px 5px 0;
	float: right;
}

#Pagination div {
	float: left;
}

#Pagination div a {
	text-decoration: underline;
}

#Pagination div.first {
	margin-right: 10px;
	width: 20px;
}

#Pagination div.last {
	margin-left: 10px;
	width: 20px;
}

#Pagination div.number {
	width: 12px;
	/* margin-left: 3px; */
}
